<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Hello FSTM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	
	
	<!--  ionic button with HTML direct link -->
	  <ion-button color="secondary" expand="block"
	  routerLink="/contact"
	  routerDirection="forward">

	  	contact html routing
	  </ion-button>
  
  

  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Welcome FSTM</ion-card-subtitle>
    <ion-card-title>fstm.kuis.edu.my</ion-card-title>
  </ion-card-header>

	  <ion-card-content>
	    <img src="assets/images/logo.png">

	  <ion-button (click)="firealert()"
	  expand="block">
		simple fire alert
	</ion-button>
	<ion-button (click)="openmodal()"
	expand="block">
		open modal
	</ion-button>
	<ion-button (click)="gotocontact()"
	expand="block">
		contact using routing
	</ion-button><br>
  </ion-card-content>
</ion-card>


</ion-content>
