<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Hello FSTM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-button (click)="firealert()">
		fire alert
	</ion-button>
  
  

  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Welcome FSTM</ion-card-subtitle>
    <ion-card-title>fstm.kuis.edu.my</ion-card-title>
  </ion-card-header>

	  <ion-card-content>
	    <img src="assets/images/logo.png">

	  <!--  ionic button -->
	  <ion-button color="secondary" expand="block">
	  	Ionic button sample
	  </ion-button>
  </ion-card-content>
</ion-card>


</ion-content>
